In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [5]:
df_2= pd.read_csv('user1_data.csv')
df_2.head()

              ttime   pm1  pm2  pm3   am    sm     st    lum
0  18-07-2022 15:42  3.63  0.0  0.0  3.2  7813  25.65  15001
1  18-07-2022 15:47  4.19  0.0  0.0  4.8  7692  25.66  13863
2  18-07-2022 15:52  4.74  0.0  0.0  4.0  7813  25.67  13788
3  18-07-2022 15:57  5.30  0.0  0.0  4.8  7813  25.68  14383
4  18-07-2022 16:02  0.55  5.3  5.3  3.2  7813  25.69  14621

In [3]:
X= df_2[['pm3','am','st', 'lum']]
y=df_2['sm']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 101)

In [ ]:
rfr = RandomForestRegressor(n_estimators=100)
rfr.fit(X_train, y_train)

In [ ]:
df = pd.read_csv('file_name.csv') #filename of March-data from user1 in CSV format

March_features = df[['pm3','am','st', 'lum']]
rfr_pred = rfr.predict(March_features)

pred_df = pd.DataFrame({'ttime':df['ttime'], 'pred_sm':rfr_pred})
pred_df.to_csv('user1_March_predictions.csv')